body{
    max-width: 60vw;
}
form{
    width: 200px;
    margin: 20px 70px ;
    padding: 30px;
}

input, select, .radios {
    margin-bottom: 25px;
}

.radios label, .checks label {
    margin-right: 50px;
}
.genero.data { 
    display: flex;
    flex-wrap: wrap;
}